//- Your website head content. Change the title, meta tags and add new stylesheets

title Stas Web Designer Task

meta(charset="UTF-8")
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(http-equiv="X-UA-Compatible" content="IE=10")
meta(name="description" content="Kickstartr is a bolierplate and folder structure for easily creating websites")
meta(name="author" content="http://codepen.io/Gelsot/")
meta(name="robots" content="index, follow")
meta(name="keywords" content="bolierplate, folder structure")

meta(property="og:title" content="Your title goes here")
meta(property="og:url" content="http://codepen.io/Gelsot/")
meta(property="og:type" content="website")
meta(property="og:image" content='your logo goes here')
meta(property="og:description" content="bolierplate, folder structure")

meta(name="twitter:card" content="summary")
meta(name="twitter:url" content="http://codepen.io/Gelsot/")
meta(name="twitter:title" content="Your title goes here")
meta(name="twitter:description" content="bolierplate, folder structure")
meta(name="twitter:image" content="your logo goes here")


link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
link(rel="icon" href="/favicon.ico" type="image/x-icon")

link(rel="stylesheet", type="text/css", href="tools/css/main.css")
script(src="https://use.fontawesome.com/46b0b11fea.js")
link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,800italic,800' rel='stylesheet' type='text/css')

// if lt IE 9
	script(src='//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.min.js')
	script(src='//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.min.js')