//- Add your scripts here

script(type="text/javascript" src="tools/js/vendor/jquery.js")
script(type="text/javascript" src="tools/js/vendor/TweenMax.js")
script(type="text/javascript" src="tools/js/vendor/TextPlugin.js")
script(type="text/javascript" src="tools/js/dist/main-dist.js")