.delete_modal_blur
	.delete_modal
		.delete_modal_heading
			i.fa.fa-times

		.delete_modal_body
			i.fa.fa-trash-o
			p Are you sure you want to delete this post?

		.delete_modal_actions
			button.delete_modal-cancel
				i.fa.fa-ban
				label Cancel action
			button.delete_modal-confirm
				i.fa.fa-check
				label Confirm action
